<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Almacén de vinos</div>
            <div class="intro-heading">Echauri</div>
            <a href="#map" class="page-scroll btn btn-xl">Ver más</a>
        </div>
    </div>
</header>

<!-- Map Section -->
<section id="map">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 no-padding text-center">
                <div class="map-headers-container">
                    <h2 class="section-heading">Tu almacén de vinos en Belgrano</h2>
                    <h3 class="section-subheading">Vuelta de Obligado 2290, Belgrano, CABA. Tel: 4706-3293</h3>
                </div>
                <ng-map default-style="false" zoom="17" street-view-control="false" scrollwheel="false" center="[-34.5597659,-58.457259]">
                    <marker position="2290 Vuelta de Obligado, Belgrano, Capital Federal" title="Echauri Vinos"></marker>
                </ng-map>
            </div>
        </div>
    </div>
</section>

<section id="service">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Confianza</h4>
                <p class="text-muted">En <strong>Echauri</strong> le brindamos la posibilidad de elegir su mejor compañía; para brindar, compartir una cena o sentir el placer de degustar el buen fruto de su tierra.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Cuidado</h4>
                <p class="text-muted">El vino es el fruto del paso del tiempo. <br>Mezcla de ciencia y arte engendrada por la feliz combinación de suelo, clima y cepaje. <br>Velamos por la calidad de nuestros productos, para que esta mezcla llegue a tus manos tal como fue pensada en la bodega.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-glass fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Calidad</h4>
                <p class="text-muted">El buen vino es aquel que nos deja un gran recuerdo en nuestra mente; es el mejor acompañante del momento que queremos vivir.</p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Catas de Vino</h2>
                <h3 class="section-subheading text-muted">Mirá las fotos de nuestras catas:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="cata in vm.catas">
                <div class="portfolio-link" data-toggle="modal" ng-click="cata.gallery.openGallery()">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <ng-image-gallery
                            images="cata.gallery.images"
                            methods="cata.gallery.methods"
                            thumbnails="false"
                            inline="false"
                            bg-close="true"
                            ></ng-image-gallery>
                    <img ng-src="{{cata.cover}}" class="img-responsive img-cover" alt="">
                </div>
                <div class="portfolio-caption">
                    <h4>{{cata.title}}</h4>
                    <p class="text-muted">{{cata.subtitle}}</p>
                </div>
            </div>
<!--            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/portfolio/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Startup Framework</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/portfolio/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Treehouse</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/portfolio/golden.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Golden</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/portfolio/escape.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Escape</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/portfolio/dreams.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Dreams</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>-->
        </div>
    </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <flex-slider slide="logo in vm.logoBodegas track by logo.name" min-items="5" max-items="5" item-margin="30" item-width="50" animation="slide" control-nav="false" animation-loop="false">
                <li>
                    <a href="#">
                        <img ng-src="assets/img/bodegas/{{logo.name}}" class="img-responsive img-centered bodega-logo" alt="">
                    </a>
                </li>
            </flex-slider>
        </div>
    </div>
</aside>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contactanos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3 class="section-subheading">Dejanos tu mensaje y te contactamos a la brevedad.</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre *" id="name" required data-validation-required-message="Tu nombre.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Email donde te podemos ubicar.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Teléfono (opcional)" id="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Tu mensaje *" id="message" required data-validation-required-message="Dejanos tu mensaje."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 contact-info">
                <h3 class="section-subheading">Información de contacto:</h3>
                <div class="row">
                    <div class="col-sm-12 contact-subitem">
                        <i class="fa fa-home"></i>
                        <a class="contact-text" href="#map">Vuelta de Obligado 2290, Belgrano.</a>
                    </div>
                    <div class="col-sm-12 contact-subitem">
                        <i class="fa fa-phone"></i>
                        <a class="contact-text" href="tel:47063293">4706-3293</a>
                    </div>
                    <div class="col-sm-12 contact-subitem">
                        <i class="fa fa-envelope-o"></i>
                        <a class="contact-text" href="mailto:echaurivinos@gmail.com">echaurivinos@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>