// Map Section

#map {
  padding: 0;

  ng-map {
    width: 100%;
    height: 600px;
    padding: 0;
  }

  .map-headers-container {
    width: 100%;
    position: absolute;
    z-index: 2;
    color: white;
    background-color: rgba(0,0,0,0.5);
    h2.section-heading {
      margin-top: 30px;
    }

    h3.section-subheading {
      margin-bottom: 30px;
      font-style: normal;
    }
  }

}